extends ../shared/layouts/application

block content
	div#login-template.container.login
		h4 Huddle Login

		form(action='/login' method='POST')
			div.form-group
				label Email
				input(type='text' name='email' placeholder='you@gmail.com')

			div.form-group
				label Password
				input(type='password', name='password')

			button(type='submit') Login