extends ../shared/layouts/application

block content
	div#login-template.container.login
		h4 Huddle Login

		form(action='/login' method='POST')
			div.form-group
				label Email
				input(type='text' name='email' autofocus="true")

			div.form-group
				label Password
				input(type='password', name='password')

			div.text-right
				button(type='submit') Login

		div.container.new-user
			h5
				a(href='/users/new') Create a New Account