# Logs
logs
*.log

# Mac OS X
.DS_Store

# Runtime data
pids
*.pid
*.seed

# SASS cache
.sass-cache

# node-waf configuration
.lock-wscript

# No need to put this in the repository
public

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
bower_components