extends ../shared/layouts/application

block content
	.container
		h4 Create a New Account

		form.form-horizontal(action='/users', method='POST' style='width: 550px')
			div.form-group
				label First Name
				input(type='text' name='firstName' autofocus="true")
			div.form-group
				label Last Name
				input(type='text' name='lastName')
			div.form-group
				label Display Name
				input(type='text' name='displayName')
			div.form-group
				label Email
				input(type='text' name='email')
			div.form-group
				label Password
				input(type='password' name='password')
			button(type='submit') Create Account