extends ../shared/layouts/application

block scripts
	- if (current_user)
		script.
			var _currentUserId = !{current_user.id};
	- if (room)
		script.
			var _preloadedRoomId = !{room.id};

	script(src='/javascript/application.js')

block content
	div#huddle-app

	script#huddle-template(type='text/ractive')
		div#huddle-app-container.flexbox.huddle-container
			div#left-sidebar.flexitem.sidebar.sidebar-left
				section
					<Rooms />
				section
					<Conversations />

			div#chat-area-container.flexitem.chat-area
				<Chat />
	
	script#chat-template(type='text/ractive')
		{{ #if chat }}
		section#chat-container
			{{ #if chat.id }}
			{{ >Room }}
			{{ elseif chat.user }}
			{{ >Message }}
			{{ /if }}
		{{ else }}
		<Lobby/>
		{{ /if }}

	script#lobby-template(type='text/ractive')
		section.lobby-container
			header.lobby-header
				input(type='text')
			section.lobby-section
				div.list-group.available-chats
					{{ #each rooms}}
					a.list-group-item.active(href="/user/participating" on-click="participateRoom:{{ . }}") 
						i.fa.fa-comments-o
						| {{ name }}
					{{ /each }}


	script#room-template(type='text/ractive')
		header.room-header.header
			div.room-header-inner.header-inner
				//- i.fa.fa-lock.fa-2x
				div.page-header-main
					h3 {{ chat.name }}
					p {{ chat.description }}
		section#room-container.flexbox.room-container
			div#chat-message-area.flexitem.chat-message-area
				<Messages />

			div#sidebar-right.flexitem.sidebar-right
				<Users />

	script#message-template(type='text/ractive')
		header.message-header.header
			div.message-header-inner.header-inner
				//- i.fa.fa-lock.fa-2x
				div.message-header-main
					h3 {{ chat.user.displayName }}
		section#message-container.flexbox.room-container
			div#chat-message-area.flexitem.chat-message-area
				<Messages />

	script#room-users-template(type='text/ractive')
		div#chat-users.users
			ul.users-list.sidebar-nav
				{{ #each users }}
				<RoomUser user="{{ . }}">
				{{ /each }}

	script#room-user-template(type='text/ractive')
		li.user-information
			div.user-metadata
				a(href='/chat/users/{{ id }}' on-click="privateMessage:{{ user }}")
					i.fa.fa-circle(class="{{ status }}")
					| {{ displayName }}

	script#chat-messages-template(type='text/ractive')
		div.scroll-wrapper
			div.flexbox.chat-message-wrapper
				div#chat-messages.flexitem.messages
					{{ #each messages:i }}
					div#chat-message-container.message-container.flexbox(class = "{{ from_user ? 'server-message' : '' }}{{ _.pluck(tags, 'name').join(' ') }} {{ user.id === ~/current_user.id ? 'current-user' : '' }}")
						div#chat-username.flexitem.username 
							{{ #if i < 1 || messages[i - 1] && !previousMessageFromCurrentUser(messages[i - 1].user.id, user.id) }}
							{{ user.displayName }}
							{{ /if }}
						div#chat-message.flexitem.message {{{ html }}}
						div#chat-timestamp.flexitem.timestamp(title="{{ timeAgoInWords(created_at) }}") {{ formatTime(created_at) }}
					{{ /each }}
		<ChatInput url="/rooms/{{ chat.id }}/messages" />
		
	script#chat-input-template(type='text/ractive')
		div#chat-input-area.flexitem.chat-input-container
			form(action='{{ url }}' method='POST' on-submit="messageSubmit")
				textarea#message-input.huddle-message-input(autofocus='true', value="{{ input }}", on-keydown-input-change="typing")

	script#new-room-template(type='text/ractive')
		div#new-room-container.modal
			div
				section
					h4 Create a New Room

				form(action="/rooms" method="POST" on-submit="createRoom")
					div.form-group
						label(for="name") Name
						input(type="text" placeholder="" value="{{ name }}")
					div.form-group
						label(for="description") Description
						input(type="text" value="{{ description }}")
					button(type="submit") Create Room

	script#conversations-template(type='text/ractive')
		section#conversations-container.conversations-wrapper
			ul#conversations-list.conversations-container.sidebar-nav
				li.sidebar-heading
					strong Conversations
				{{ #each conversations:i }}
				li.user-name(id="conversation-{{ i }}")
					a(href="/chat/users/{{ user.id }}", class="{{ this === active ? 'active' : '' }}" on-click="loadChat:{{ . }}") {{ user.displayName }}
				{{ /each }}

	script#sidebar-room-template(type='text/ractive')
		li.flex.room(id="room-{{ room.id }}" class="{{ room === activeRoom ? 'active' : '' }}" on-mouseover="set('room.hover', true)" on-mouseout="set('room.hover', false)")
			a.flexitem-8(href="/rooms/{{ room.id }}" on-click="activateRoom:{{ room }}") {{ room.name }}
			a.flexitem.actions(href="#" title="Leave Room" on-click="closeRoom:{{ room }}" class="{{ room.hover ? '' : 'invisible' }}")
				i.fa.fa-times

	script#rooms-template(type='text/ractive')
		div#active-rooms.rooms-wrapper
			ul#rooms-container.rooms-container.sidebar-nav
				li.flex.room
					a.flexitem(href="/chat/lobby" on-click="loadLobby") 
						i.fa.fa-bars(style="padding-right: 5px;")
						| Lobby
				li.sidebar-heading 
					strong Rooms
				{{ #each rooms }}
				<Room room="{{ . }}" />
				{{ /each}}
				li#new-room
					a(href='#new-room-container' on-click="newRoom") 
						i.fa.fa-plus
						|  New Room