extends ../shared/layouts/application

block content
	div#huddle-app

	script#huddle-template(type='text/ractive')
		div#huddle-app.flexbox.huddle-container
			div#left-sidebar.flexitem.sidebar.sidebar-left
				<RoomList>

			div#chat-area-container.flexitem.chat-area
				<Room>

	script#room-template(type='text/ractive')
		header.room-header
			div.room-header-inner
				//- i.fa.fa-lock.fa-2x
				div.page-header-main
					h3 {{ room.name }}
					p {{ room.description }}
		section#room-container.flexbox.room-container
			div#chat-message-area.flexitem.chat-message-area
				<RoomMessages>

			div#sidebar-right.flexitem.sidebar-right
				<RoomUsers>
	script#room-users-template(type='text/ractive')
		div#chat-users.users
			ul.users-list.sidebar-nav
				{{ #each users }}
				<RoomUser firstName="{{ firstName }}" lastName=" {{ lastName }}">
				{{ /each }}

	script#room-user-template(type='text/ractive')
		li.user-information
			div.user-metadata
				a(href="#") 
					i.fa.fa-circle(class="{{ status }}")
					| {{ displayName }}

	script#room-messages-template(type='text/ractive')
		div.scroll-wrapper
			div.flexbox.chat-message-wrapper
				div#chat-messages.flexitem.messages
					{{ #each messages }}
					div#chat-message-container.message-container.flexbox(class = "{{ from_user ? 'server-message' : '' }}")
						div#chat-username.flexitem.username 
							{{ #if from_user }}
							{{ from_user.displayName }}
							{{ else }}
							{{ user.displayName }}
							{{ /if }}
						div#chat-message.flexitem.message {{{ html }}}
						div#chat-timestamp.flexitem.timestamp(title="{{ timeAgoInWords(timestamp) }}") {{ formatTime(timestamp) }}
					{{ /each }}
		div#chat-input-area.flexitem.chat-input-container
			form(action='/rooms/1/messages' method='POST' on-submit="messageSubmit")
				textarea#message-input.huddle-message-input(autofocus='true', value="{{ messageInput }}", on-keypress="typing" on-keydown-input="set('messageInput', event.node.value)")

	script#rooms-template(type='text/ractive')
		div#active-rooms.rooms-wrapper
			ul#rooms-container.rooms-container.sidebar-nav
				li.sidebar-heading 
					strong Rooms
				{{ #each rooms }}
				li#room-name.room-name
					a(href="#", class="{{ this === activeRoom ? 'active' : '' }}", on-click="loadRoom:{{ . }}") {{ name }}
				{{ /each}}
				li#new-room
					a(href='#' on-click="newRoom") 
						i.fa.fa-plus
						|  New Room