.button {
  border: 0;
  font-family: 'Open Sans';
  outline: none;
  padding: .5rem .7rem;

  &:hover {
    cursor: pointer;    
  }
}

.button-primary {
  background-color: #2e69ab; 
  color: #fff; 
  font-weight: bold;
}

.button-link {
  background-color: transparent;
  color: #3566Bf;

  &:hover {
    text-decoration: underline;
  }
}
