.modal-background {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  left: 0;
  padding: .5em;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-container {
  height: 100vh;
  margin: 0 auto;
  max-width: 100%;
  min-width: 300px;
  position: relative;
  width: 600px;
}

.modal {
  @include border-top-radius(5px);
  @include border-right-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  .header, 
  .footer {
    background-color: #e6e6e6;
    padding: 1.3rem;
  }

  .header {
    border-bottom: 1px solid #cecece;
    color: #5f5f5f;
  }

  .content {
    padding: 2rem;
  }

  .footer {
    @include clearfix;

    border-top: 1px solid #cecece;
    
    .footer-actions {
      float: right;
    }
  }
}

.modal-button {
  background-color: rgb(70, 70, 180);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: .5em 1em;
  text-align: center;
}
