@import 'bourbon';
@import 'neat';
@import 'font-awesome';

$grey: #cecece;
$white: #fff;

body {
  font-family: 'Open Sans', Tahoma, 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 9pt;
  margin: 0;
  // min-height: 100%;
  position: relative;
}

.huddle-container {
  border-bottom: 1px solid $grey; 

  .sidebar-right {
    border-left: 1px solid $grey;
  }
}

.flexbox {
  @include display(flex);
}

.sidebar-left {
  @include flex(1.2 0);

  background-color: #f5f5f5;
  border-right: 1px solid $grey;
}

.scroll-wrapper {
  height: 75.5vh;
  position: relative;

  .chat-message-wrapper {
    // height: 400px; // TODO : This will be manipulated via some javascript
  }
}

.chat-area {
  flex: 9 0;
}

.messages {
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.message-container {
  margin: 0;
  padding: .4rem 0;

  &:last-child { border-bottom: 0; }

  &.server-message {
    background-color: #b1d1fa;

    .username, 
    .message, 
    .timestamp { color: #515151; }
  }

  &.low { background-color: #fffed7; }
  &.medium { background-color: #fff7dd; }
  &.high { 
    background-color: #fff2f2; 

    .message { color: #d51b1b; font-weight: bold; }
  }

  &.current-user {
    background-color: #dff1ff;
  }

  .username { color: #707070; padding-right: 2rem; text-align: right; width: 110px; }
  .message { 
    color: #515151;
    line-height: 1.4rem;
  }

  .timestamp { 
    color: #999;
    font-size: smaller;
    font-weight: 100;
    padding: 0 0.7rem 0 .5rem;
    text-align: right; 
  }

  a { color: #3566BF; }
  a:hover { border-bottom: 1px solid; }

  img { display: inline-block; max-width: 100%; }

  p { margin: 0; }
  
  ul { 
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 1rem; 
  }

  blockquote {
    border-left: 1px solid #ccc;
    font-style: italic;
    margin-bottom: 0;
    margin-left: .4rem;
    margin-top: 0;
    padding-left: .5rem;
  }
}

.rooms-wrapper {
  margin-top: .4rem;
}

.mention {
  background-color: #fdfdd4;
  border: 1px solid #e2e28c;
  border-radius: 3px;
  font-size: x-small;
  font-style: italic;
  font-weight: bold;
  padding: 1px 5px;
}

.hash-tag {
  background-color: #f0f8ff;
  border: 1px solid #cecece;
  border-radius: 3px;
  // color: #949494;
  font-size: smaller;
  padding: 0 10px;
}

.chat-input-container {
  background-color: #f5f5f5;
  border-top: 1px solid $grey;
  padding: .4rem;

  .huddle-message-input {
    @include border-top-radius(5px);
    @include border-right-radius(5px);
    @include border-bottom-radius(5px);
    @include border-left-radius(5px);

    border: 1px solid #c3c3c3;
    box-sizing: border-box;
    color: #6f6f6f;
    display: block;
    font-family: inherit;
    font-size: inherit;
    height: 30px;
    line-height: 20px;
    margin: 0;
    max-width: 100%;
    outline: none;
    overflow-y: auto;
    padding: 4px 5px;
    resize: vertical;
    vertical-align: middle;
    width: 100%;
  }
}

@media all {
  .sidebar-left { display: none; }
  .chat-area {
    .chat-message-area { flex: 4 0; }
    .sidebar-right { display: none; flex: 1 0; }

    .chat-message-wrapper { flex-direction: column; }

    .message-container {
      align-items: baseline;

      .message { flex: 10 0; }
    }
  }
}

// Medium screens
@media all and (min-width: 600px) {
  .chat-area { 
    .sidebar-right { display: block; }
  }
}

// Large screens
@media all and (min-width: 800px) {
  .sidebar-left { display: block; }
}

.users-list {
  a {
    color: #333;
    display: block;
    padding: 2px 8px;
  }

  .fa.fa-circle {
    color: #65e265;
  }
}

.user-metadata {
  .fa-circle { margin-right: .4rem; }
}

.fa.fa-circle.active {
  color: #65e265;
}

.fa.fa-circle.idle {
  color: #ffbf49;
}

.fa.fa-circle.offline {
  color: #d8d8d8;
}

.sidebar-nav {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    @include clearfix;

    list-style: none;
    margin: 0;

    &.active {
      background-color: #2472ad;

      a {
        color: $white;
      }
    }

    &.room:hover:not(.active) {
      background-color: #d8d8d8;
    }
  }

  li > a {
    color: #5F5F5F;
    display: inline-block;
    line-height: 1.1rem;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    width: 70%;
  }

  .actions {
    text-align: center;
  }
}

.sidebar .sidebar-heading {
  padding: 10px 10px 4px;
}

.room-container {
  height: 100%;
}

.chat-area {
  header.header {
    background-color: #f5f5f5;
    border-bottom: 1px solid $grey;
    padding: 10px;

    .header-inner {
      height: 50px;
    }
  }
}

.room-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid $grey;
  // box-sizing: border-box;
  // max-height: 70px;
  padding: 10px;

  .room-header-inner {
    height: 50px;
  }
}

a {
  text-decoration: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
}


// LOGIN
.text-right {
  text-align: right;
}

.new-user {
  margin-top: 1rem;
}

.login {
  background-color: #f9f9f9;
  border: 1px solid #ababab;
  border-radius: 10px;
  box-shadow: 3px 3px #cecece;
  margin: 5rem auto;
  padding: 1rem;
  width: 260px;  

  button {
    background-color: rgb(236, 236, 236);
    border: 1px solid #545454;
    border-radius: 7px;
    color: rgb(84, 84, 84);
    padding: .2rem 1.1rem;
  }

  label {
    display: inline-block;
    width: 25%;
  }

  input { width: 70%; }
}


.form-group {
  line-height: 1.4rem;
  margin: .4rem 0;
}


.modal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity:1;
  pointer-events: auto;
}

.modal > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.flex {
  @include display(flex);

  .flexitem {
    @include flex(1);
  }

  .flex-8 {
    @include flex(8);
  }
}

.lobby-header {
  background-color: #f5f5f5;
  min-height: 40px;
  padding: 10px;
}

.available-chats i.fa {
  margin: 0 .4rem;
}

.list-group {
  .list-group-item {
    border: 1px solid #ddd;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    text-decoration: none;
  }
}